.git
.gitignore
.github
.gitattributes
README.md
readme-vars.yml
.dockerignore
.env
.env.example
.env.test
docker-compose.yml
.editorconfig
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
*.log
*.tmp
*.swp
*~
*.bak
*.orig
